.reSendOtp,
.otpSendTo {
  font-size: 0.8rem;
  color: var(--secondaryTextColor);
  text-align: center;
}

.reSendOtp span,
.otpSendTo span {
  color: var(--pinkColor);
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.otpSendTo span {
  color: var(--primaryTextColor);
}
