.text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #c4c5c5;
  text-align: center;
}

.signinWrapper {
}

.hasInvite {
  color: #0077ff;
}

.actionButtonWrap {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .actionButtonWrap {
    width: 70%;
  }
}
