.button {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Nunito", sans-serif;

  gap: 0.3rem;
}
.button:hover {
  opacity: 0.8;
}
