.button {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;

  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Nunito", sans-serif;

  gap: 0.3rem;
}
.border_Bg:hover {
  scale: 1.03;
  transition: all 0.2s ease-in-out;
}

.border_Bg {
  padding: 0.125rem;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 25px;
}
